{% if __SELF__.hasError %}
    {% partial '@error' message="Video gallery is unavailable" %}
{% else %}

    {% if display_playlist_name %}
    <div class="row">
        <div class="col-sm-12 text-center" style="padding-bottom: 30px">
            <h2 class="playlist-name">{{ __SELF__.name }}</h2>
        </div>
    </div>
    {% endif %}
    {% for row in __SELF__.videos | batch(2) %}
    <div class="row">
        {% for video in row %}
        <div class="col-sm-6">
            <div class="videoTitle">
                {% if __SELF__.property('display_title') %}
                <h3>{{ video.title }}</h3>
                {% endif %}
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ video.yt_watch }}" allowfullscreen></iframe>
            </div>
        </div>
        {% endfor %}
    </div>

    {% endfor %}
{% endif %}